<!DOCTYPE html>
<html>
<head>
	<title>mails nodeJS</title>
	<meta charset="utf8"/>
</head>
<body>

	<h1> Liste des mails : </h1>

	<ul>
		<% for(var i=0; i<mail.length; i++) {%>

		   <li><%= mail[i].mail %></li>

		<% } %>

	</ul>

</body>
</html>