<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User detail</title>
</head>
<body>
    <h1>Détail utilisateur</h1>

    <p><%= data.pseudo %></p>
    <p><%= data.mdp %></p>
    <p>Session: <%= sessionState %></p>
</body>
</html>